/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 9999;
  flex-wrap: wrap; 
}

/* LOGO */
.logo a {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-family: "Cormorant Garamond", serif; 
  font-style: italic;                      
  letter-spacing: 3px;
  text-decoration: none;
}

/* MENU */
.nav-menu {
  display: flex;
  gap: 60px;
}

.nav-link {
  color: white;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Cormorant Garamond", serif; 
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase; 
}


/* NAV-ITEM */
.nav-item {
  position: relative;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 20px;
  min-width: 200px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
}

.dropdown-item {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.dropdown-item:hover {
  color: #ccc;
}

/* ICONS */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;  
  margin-right: 80px; 
  color: white;
  font-size: 26px;
}

nav {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: none !important;
}

.cart-icon {
  position: relative;
  font-size: 22px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
