.checkout-page,
.checkout-success {
  background-color: #4f1f1f;
  color: white;
  padding: 30px;
  min-height: 100vh;
}

.checkout-list {
  background: #3b1515;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #663333;
}

.checkout-item:last-child {
  border-bottom: none;
}

.btn {
  background: black;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

.btn-green {
  background: #2ecc71;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-green:hover {
  background: #27ae60;
}

.payment-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
}

.payment-section label {
  font-weight: bold;
}

.payment-section input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.pay-btn {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.pay-btn:hover {
  background: #222;
}
