.products-wrapper {
  background-color: #4f1f1f;
  min-height: 100vh;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px 0;
}

/* PRODUCT CARD */
.product-card {
  background-color: #3b1515;
  border-radius: 10px;
  padding: 15px;
  color: white;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.03);
}

/* PODUCUT IMAGINE */
.product-card img {
  width: 100%;
  height: 230px;
  object-fit: contain;
  border-radius: 8px;
  background-color: white;
}

/* TEXT */
.product-card h3 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.product-card p {
  margin: 4px 0;
  font-size: 0.9rem;
}

/* OLD PRICE */
.old-price {
  text-decoration: line-through;
  opacity: 0.7;
}

/* BOTTONS */
.product-card .btn {
  margin: 8px 5px 0;
  padding: 7px 12px;
  border-radius: 5px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.product-card .btn:hover {
  background: #222;
}

.products-page h1 {
  color: white;
}
